/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
h1{
font-size: 4rem;
color: cadetblue;
padding-bottom: 10px;
border-bottom: 1px solid #ccc;
}
h1:hover{
  color: rgb(100, 113, 114);
}
h2{
  font-size: 2rem;
color: cadetblue;
}
p{
color: #555;
    font-size: 1em;
    margin: 0 0 20px 0;
}
.link{
text-decoration: none;
}
